<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/13446b30-e973-47b6-b1b4-fbbbc89e7f7e/resourceGroups/sql/providers/Microsoft.Web/sites/Group4DB20230416194003</ResourceId>
    <ResourceGroup>sql</ResourceGroup>
    <ApiResourceId>/subscriptions/13446b30-e973-47b6-b1b4-fbbbc89e7f7e/resourceGroups/sql/providers/Microsoft.ApiManagement/service/Group4DBapi12/apis/Group4DB12345</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://group4db20230416194003.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>4cc8c6db-0a56-4c63-a7e3-911c6f0610c5</ProjectGuid>
    <MSDeployServiceURL>group4db20230416194003.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Group4DB20230416194003</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Group4DB20230416194003</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>